body {
  font: 90%/1.4 Verdana, Arial, Helvetica, sans-serif;
  background-color: #191919;
  margin: 0;
  padding: 0;
  background-image: url(../images/pinstripes.png);
  background-repeat:repeat-x;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}
 
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(1,1,1,1); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #101010; 
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-track-piece  {
  background-color: #191919;
  -webkit-border-radius: 0;
} 

h1, h2, h3, h4, h5, h6, p, ul, table{
  color: #d6d5d5;
  text-shadow: 0px 5px 8px #000;
  margin-top: 0;
  padding-right: 15px;
  padding-left: 15px;
}

h2 {
  padding-left: 30px;
}

p {
  padding-left: 60px;
}

a img { 
  border: none;
}

a:link {
  color: #d6d5d5;
  text-decoration: none;
}
a:visited {
  color: #999;
  text-decoration: none;
}
a:hover, a:active, a:focus { 
  text-decoration: none;
}

@font-face
{
	font-family: COUTUREBold;
}


.container {
	width: 40%;
	max-width: 1260px;
	min-width: 780px;
	margin: 0 auto; 
}

.content {
  padding: 70px 0;
}

#header {
  padding-top: 150px;
}

.centerText {
  text-align: center;
}

#title, #resumeText {
  font-family:COUTUREBold;
  text-transform: uppercase;
  color: #d6d5d5;
  text-shadow: 0px 5px 8px #000;
  margin-top: 0;
  padding-left: 10px;
}

#title{
  font-size: 48px;
  text-align:center;
  display: inline;
}

#resumeText {
  font-size: 25px;
  text-align: right;
}

.centerImage {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.content ul, .content ol { 
  padding: 0 15px 15px 40px; 
  list-style: none;
}

.content li {
  padding-left: 1.5em;
  padding-top: 1px;
  text-indent: -0.75em;
}

.content li:before {
  content: "- ";
}

table {
	padding-left: 60px;
}

td {
	padding-right: 8px;
}

tr {
	border: 2px solid white;
}

.movieYear {
    color: #848484;
}

.movieTitle {
	width: 340px;
}

#footer {
  padding-right: 30px;
}

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  }
